.Single-image{
    /* border: 15px double black;  */
    border: 5px solid white;
    border-radius: 20px;
    width:  350px;
    height: 350px;
    object-fit: fill;
}

.Artwork-description{
    font-family: 'HK Grotesk';
    font-weight: bold;
    font-size: 18px;
    /* text-align: center; */
}
